#searchBar{
    width: 400px;
    height: 40px;
    border: 1px solid gray;
    font-size: 15px;
    color: white;
    border-radius: 10px; 
    background-color: rgb(196, 194, 194);
}

#searchBar:hover{
    background-color: white;
    color:black;
    
}

.emoticon{
    color:white;
}

#header-btn-1{
    background-color: rgb(40, 137, 240); border-radius:10px; border-style: none;
}
#header-btn-2{
    background-color: white; border-style: none;
}
#header-btn-3{
    background-color: white; border-style: none;
}
#header-btn-4{
    background-color: white; border-style: none;
}
.myfilebutton{
    background-color: white; border-style: none; 
}

