body{
    margin: 0%;
    width: 100%;
    height: 100%;
}
div.appmanagerbar{
    width: 48px;
    height: 48px;
    text-align: center;
    flex-shrink: 0;
}

div.warning { font-size: 1rem;
color: rgb(133, 43, 43);

}

div.onedrivehome{
    height: 48px;
    width: 70.234px;
    text-align: center;
    line-height: 48px; 
    color: white;
    flex-shrink: 0;
}
div.searchbarsection {
    width: 909.766px;
    height: 48px;
    flex-shrink: 1;
}

span.search-img{
    width: 30px;
    height: 32px;
    margin-top: 8px;
    background-color: gainsboro;
    text-align: center;
    line-height: 32px;
    flex-shrink: 0;
}
input.searchbar {
    width: 424px;
    height: 32px;
    padding: 0;
    border-width: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    outline: none;
    flex-shrink: 1;
    background-color: gainsboro;
}
div.righticons {
    display: flex;
    height: 48px;
    width: 192px;
    margin-left: auto;
    background-color: rgb(0, 120, 212);
}
div.righticon{
    height: 48px;
    width: 48px;
    text-align: center;
}

#right-0{
    display: none;
}

div.main {
    display: flex;
    margin: 0%;
}

div.main-page{
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
    
}

div.main-header {
    display: flex;
    height: 44px;
    border-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    flex-shrink: 1;
}


div.header-left-buttons{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 24px;
    margin-top: 20px;
}

div.header-right-buttons {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 24px;
}

button.header-button{
    display: flex;
    width: auto;
    height: 44px;
    background-color: white;
    border: none;
    line-height: 44px;
    padding-left: 4px;
}

span.header-button-text{
    color: rgb(50, 49, 48);
    margin-left: 4px;
    margin-right: 4px;
    font-size: 15px;
}

.file-text{ text-align: center;
}

.no-space{ background-color: #edebe9;
    height: 70px;
    margin-top: 30px;
    display: flex;
}

.space { text-align: center;
margin-left: 50px;
}


div.main-contents-section{
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.main-contents-header{
    height: 40px;
    padding: 32px 32px 0 32px;
    font-size: 23px;
    color: rgb(65, 65, 65);
}

div.main-contents {
    padding: 20px 32px 0 32px;
}


div.main-contents-bar{
    display: flex;
    height: 42px;
    padding-top: 16px;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 42px;
}

div.input-check-button{
    width: 48px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
input.checkbox, input.all-checkbox {
    margin: auto;
    box-sizing: border-box;
    height: 42px;
}

div.main-icons{
    padding-left: 12px;
    padding-right: 8px;
    margin-top: 4px;
}

div.main-name {
    width: 440px;
    padding-left: 12px;
    padding-right: 8px;
    line-height: 42px;
    color: rgb(48, 48, 48);
    margin-top: 2px;
}

div.main-date{
    width: 130px;
    padding-left: 12px;
    padding-right: 8px;
    color: rgb(48, 48, 48);
    line-height: 42px;
}

div.main-size{
    width: 130px;
    text-align: center;
    color: rgb(48, 48, 48);
}


div.main-contents-list{
    display: flex;
    max-width: 998px;
    height: 43px;
    line-height: 42px;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 43px;
}


div.main-detail{
    order: 1;
    height: 100vh;
}

div.main-left{
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 100%;
    background-color: rgb(226, 226, 226); 
}

div.left-menus {
    display: flex;
    width: 204px;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    color: rgb(65, 65, 65);
    flex-shrink: 0;
}

span.left-menu-text{
    font-size: 15px;
    margin-top: 9px;
    margin-left: 11px;
}

.header-button:hover{
    background-color: #edebe9;
    cursor: 'pointer';
}

.searchbar:hover, .search-img:hover{
    background-color: white;
    cursor: text;
}

.header-btn:hover{
    background-color: #004d88;
    cursor: pointer;
}

.left-menus:hover{
    background-color: #edebe9;
    cursor: 'pointer';
}
.main-icons:hover, .main-name:hover, .main-date:hover, .main-size:hover{
    background-color: #edebe9;
}

.main-contents-list:hover{
    background-color: #edebe9;
}

.onedrivehome:hover{
    cursor: pointer;
}

@media (max-width: 695px) {
    div.searchbarsection{
        width: 0;
    }
    i#search-img {
        width: 0;
        padding: 0;
        margin: 0;
    }
    span.search-img{
        width: 0;
        padding: 0;
        margin: 0;
    }
    input.searchbar{
        width: 0px;
    }
    #right-0{
        display:block;
    }
}