@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500&display=swap');


.main_title {
  text-align: center;
  margin: 50px auto;
  color: #8F7EFF;
  font-size: 45px;
  font-family: 'Black Han Sans';
}

.todo_bar {
  display: flex;
  justify-content: center;
}

.todo {
  height: 20px;
  width: 762px;
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  border-bottom: #8F7EFF 3px solid;
  font-family: 'IBM Plex Sans KR';
}

.todo:focus, .todo:hover {
  background-color: #F5EBFF;
  transition-duration: 0.4s;
  outline:none;
}

button {
  text-align: center;
  height: 44px;
  width: 70px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #8F7EFF;
  background-color: white;
  border-color: #8F7EFF;
  border-radius: 5px;
  transition-duration: 0.3s;
  font-family: 'IBM Plex Sans KR';
}

.todo_enterbtn {
  font-weight: 700;
}

button:hover {
  background-color: #8F7EFF;
  border-color: white;
  color: white;
  cursor: pointer;
}

.todo_list_box {
  background-color: #F5EBFF;
  width: 857px;
  margin: 20px auto;
  border: #F5EBFF 1px solid;
  border-radius: 5px;
}

.todo_list {
  padding-left: 30px;
  padding-right: 30px;
}

.check {
  margin-right: 10px;
}

li {
  list-style: none;
  vertical-align: middle;
}

.todo_text {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 660px;
  list-style: none;
  font-size: 20px;
  background-color: #F5EBFF;
  outline:none;
  border: none;
  border-bottom: #F5EBFF 2px solid;
  font-family: 'IBM Plex Sans KR';
  transition-duration: 0.3s;
}

.select_button {
  text-align: center;
}

.select_button button {
  margin-right: 5px;
  width: 80px;
  height: 35px;
}

.composer, .composer a {
  margin-top: 100px;
  text-align: center;
  color: #bbb;
}

a:hover {
  color: #aaa;
}

.modify_togglebtn, .save_togglebtn{
  height: 30px;
  vertical-align: center;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.save_togglebtn {
  color: white;
  background-color: #8F7EFF;
}

.can_write_mode {
  border-radius: 5px;
  border-bottom: #8F7EFF 2px solid;
  transition-duration: 0.3s;
}
