
body, html {
    width:100%;
    height: 100px;
}

span {
    font-size: 14px;
    color: black;
}

i.ms-Icon {
    font-size: 16px;
}

i.ms-Icon.ms-Icon--ChevronDown {
    font-size: 10px;
    color: black;
}

.dropdown-item {
    font-size: 13px;
}

/* 반응형 */

@media screen and (min-width: 1000px) {
    #main-menu-button-hide {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #aside_container {
        display: none;
    }
    #main_container {
        width: 100vw;
    }
}

@media screen and (max-width: 750px) {
    #navbar-buttons {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    #navbar-buttons-hide {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #input-groups {
        display: none;
    }
    #add_button{
        display: none;
    }
    #main-menu-3buttons {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    #input-groups-hide {
        display: none;
    }
    #main-menu-3buttons-hide {
        display: none;
    }
}

/* 상단 네비게이션 바 */

.window {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 48px;
    background-color: #137AD1;
}

button.navbar-buttons {
    border:none;
    background-color: #137AD1;
    color:white;
    padding-top: 5px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    margin-top: -12px;
}

button.navbar-buttons:hover {
    background-color: #084F8F;
}

.navbar-brand {
    color:white;
    font-size: medium;
    margin-left: 10px;
}

.navbar-input-icon {
    position: absolute;
    color: #137AD1;
    margin-top: 8px;
    margin-left: 15px;
}

input.input-groups-text {
    border:none;
    background-color: #E1DFDD;
    height:32px;
    padding-left: 45px;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    max-width:486px;
    min-width:300px;
    width: 40vw;
}

input.input-groups-text::placeholder{
    font-size: 15px;
}

input.input-groups-text:focus {
    outline:none;
    background-color: white;
}

input.input-groups-text:hover {
    background-color: white;
}

/* 사이드바 */

.main-window {
    height: calc(100vh - 48px);
    display: flex; flex-direction: row;
    background-color: rgb(250, 250, 250);
}

.aside_container {
    flex: none;
    width: 228px;
    height: 100%;
    border-right: solid;
    border-right-color: #E1DFDD;
    border-right-width: thin;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-div {
    border: none;
    background-color: rgb(250, 250, 250);
    width: 218px;
    height: 40px;
    display: flex;
    align-items: center;
}

.aside-div:hover {
    background-color: #E1DFDD;
    color: #137AD1;
}

.aside-div > i {
    padding-left: 15px;
    padding-right: 10px;
}

.dia-button {
    background-color: #FFFFFF;
    width: 200px; height: 40px;
    border-radius: 5px 5px 5px 5px;
    border: solid;
    border-color: #E1DFDD;
    border-width: thin;
    box-shadow: 0px 1px 0px 0px lightgray;
}

.dia-button:hover {
    background-color: #E1DFDD;
}

/* 메인 */

.main_container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 228px);
}

.main_menu {
    flex: none;
    height: 60px;
    width: 100%;
    border-bottom: solid;
    border-bottom-color:#E1DFDD;
    border-bottom-width: thin;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-menu-button{
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
    border: none;
    height: 32px;

    background-color: rgb(250, 250, 250);
}

.main-menu-button:hover {
    background-color:#E1DFDD;
    color: #137AD1;
}

#main-menu-button-hide {
    margin-left: 20px;
    font-size: 20px;
    color:#616161;
    border-right: solid;
    border-right-color: #E1DFDD;
    padding-right: 15px;
}

.main-menu-button-new {
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
    border: none;
    height: 32px;
    margin-left: 30px;
    
    background-color:#137AD1;
    padding: 0 15px 0 15px;
}

.main-menu-button-new:hover {
    background-color:#084F8F;
}

.main-menu-button-delete {
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
    border: none;
    height: 32px;
    background-color:rgb(250, 250, 250);
}

.main-menu-button-delete:hover {
    background-color:#E1DFDD;
    color:#137AD1;
}

.main_content {
    height: calc(100vh - 100px);
    width: 100%;
    padding: 0 32px 0 32px;
}

.file_container {
    display: flex; justify-content: flex-start; flex-direction: column;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border-bottom-width: thin;
    box-shadow: 1px 1px 1px 2px lightgray;
}

.files-div-first {
    border-bottom: solid;
    border-bottom-color:#E1DFDD; border-bottom-width: thin;
    display: flex; justify-content: flex-start;
    height:42px; align-items: center;
    overflow: hidden;
}

.file_container-div {
    height: 100%;
    display: flex; align-items: center;
    flex: 0 0 auto;
    padding-left: 10px;
}

.file_container-div-no {
    display: flex; justify-content: center;
    flex: 0 0 auto;
}

.file_container-div:hover {
    background-color: #E1DFDD;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.files-div {
    display: flex; justify-content: flex-start;
    height:42px; align-items: center;
    overflow: hidden;
}

.files-div:hover {
    background-color: #E1DFDD;
}

.file-div-add {
    border-bottom: solid;
    border-bottom-color:#E1DFDD;
    border-bottom-width: thin;
    height: 100%;
    display: flex; align-items: center;
    padding-left: 10px;
    flex: 0 0 auto;
}

.no-words-add {
    display: flex; justify-content: center; align-items: center;
    border-bottom: solid;
    border-bottom-color:#E1DFDD;
    border-bottom-width: thin;
    height: 100%;
    flex: 0 0 auto;
}