html{
    background-color: rgb(217, 232, 238);
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
}
header{
    border-bottom: 1px;
    padding-top: 30px;
}
footer{
    padding-top: 10px;
    text-align: right;
    padding-right: 6%;
}

#textbox{
    margin: auto;
    width: 470px;
    border: 1px solid black;
    background-color: white;
}
#add{
    width: 400px;
    border: 0px;
}

#result{
    margin-left: 22%;
    text-align: left;
    background-color: azure;
    margin-right: 22%;
}
