
body{
    background-color:white;
    font-family: 'NanumGothicBold';
}
.header{
    float:right;
    display:flex;
    align-items: center;

}



#qr{
    width:45px;
    height:14px;
}
#npay{
    width:50px;
    height:25px;
}
#box{
    width:30px;
    height:30px;
}





.section_center{
    margin:0 auto;
    width:400px;
    
}

.naverlogo{
    margin:0 auto;
    text-align: center;
    
}
#logo{
    margin-top: 50px;
    margin-bottom: 5px;
    width:180px;
    height:50px;
    
}
.search {
    width:400px;
    height:30px;
    border:1px solid #2DB400;
    border-radius: 4px;
    
}

.search_box{
    padding-left:5px;
    width:74%;
    height:28px;
    border:none;
    outline:none;
}

.search img{
    padding:1px;
    width:7%;
    height:28px;
    float:right;
    
}


.bar{
    margin:30px auto;
    height:200px;
    width:300px;
    
    
    
}

.list{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 40%;
    align-items: center;
    list-style: none;
    margin-bottom:30px;
    padding:0;

    
}

.list li{
    font-size: 13px;
    color:dimgrey;
    text-align: center;
    align-items: center;
    margin:10px ;
    
}
.list img{
    height:20px;
    width:20px;
    padding:20px;
    
}

.list div{
    text-align: center;
    font-size:12px;
    
    
}

.weather{
    width: 400px;
    background-color:white;
    margin-top: 30px auto;
    margin-bottom: 15px;
    
    
}

#moon{
    float:left;
    height:40px;
    
}

#now{
    height: 40px;
    
}
#now_weather{
    font-weight: 400;
    
}
#now_weather_{
    color:dimgray;
    font-size: 13px;
    font-weight: 200;
    
}

.weather_forecast{
    width: 384px;
    height: 250px;
    padding:8px;
    background-color:white;
    margin-bottom:15px;
}

.weather_forecast_1{
    margin-bottom: 15px;
}
.weather_forecast_1 span{;
    font-size:13px;
    color:dimgrey;
    font-weight: 200;
}

.weather_forecast_1 img{
    height:17px;
    padding: 2px;
}
.weather_forecast_2{
    padding:3px;
    margin-bottom: 20px;
    
}
.weather_forecast_2 span{
    background-color: #FAFAFA;
    margin:2px;
    padding: 5px;
    font-size: 13px;
    color:dimgrey;
    
}
#week_weather{
    width:90%;
    margin-top:20px auto;
}


.covid{
    width: 400px;
    height:50px;
    background-color:white;
    margin-bottom:25px;
}
.covid img{
    width:18px;
    float:inherit;
    padding:3px;
    padding-top:5px; 
}
.covid_status{
    width:200px;
    margin:0;
    float:left;
    
}
.covid_issue{
    width:200px;
    margin:0;
    float:left;
    
}

.covid div{
    padding-top: 2px;
    padding-left: 23px;
    font-size: 13px;
    color:dimgrey;
}


.today_alert{
    width: 400px;
    background-color:white;
    margin-bottom:25px;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    align-items: center;
}

#today_alert_1{
    height:40px;
}

.today_alert span{
    align-content
}

.naver_app{
    width: 400px;
    height:50px;
    background-color:white;
    margin-bottom:15px;
    font-size: 15px;
}
.app_use{
    float:right;
    border:1px solid #0080FF;
    color:#0080FF;
    font-size: 10px;
    padding:7px;
}

.webtoon{
    width: 400px;
    height:50px;
    background-color:white;
    margin-bottom:15px;
    
}
.webtoon button{
    float:right;
    padding-right: 10px;
}

.hot_topic{
    width: 400px;
    height:60px auto;
    background-color:white;
    margin-bottom:15px;
    
}
.hot_topic img{
    height:25px;
    padding:2px
}
.hot_topic div{
    font-size: 13px;
    color:dimgrey;
    
}
.hot_topic ul{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px,20px;
    align-items: center;
    list-style: none;
    margin:5;
    padding:0;
    
}
.hot_topic li{
    background-color:#FAFAFA;
    margin:3px;
    
}
.control{
    float:right;
    font-size: 13px;
    color:dimgrey;
    padding-right: 5px;
}

.update{
    width: 400px;
    height:30px;
    background-color:white;
    margin-bottom:50px;
    font-size: 13px;
    line-height: 30px;
    
}

#notice{
    border: 1px solid #2DB400;
    border-radius: 10px;
    padding:4px;
    padding-left: 6px;
    padding-right: 6px;
    margin:2px;
    font-size: 11px;
    
}
.update button{
    float:right;
    padding-right: px;
    

    
}





.footer_center{
    margin:0 auto;
    width:400px;
    text-align: center;
    font-size: 10px;
    color:dimgrey;
}



