body {
	display: flex;
	flex-direction: column;
	color: #FFF;
	background-color: #695cb6;

}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.btn1, .btn2, .btn3{color: #FFF;
	font-size: 1rem;
	cursor: pointer;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
}


input, button {
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	width: 700px;
	background-color: #1F2937;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	color: #FFF;
}

#new-task-input {
	color: #6B7280; 
}

#new-task-submit {
	display: flex;
	color: #1a020e;
	font-size: 1.25rem;
	font-weight: 1000;
	background-image: #EC4899;
	margin-right: auto;
	}



main {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.checkbox {
	float: left;
    min-width: none;
    min-height: none;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
    border: 1px solid lightgray;
    cursor: pointer;
    text-align: center;
	opacity: 0.9;
	background-color: #FFF;
}



.task-list h2 {
	font-size: 2.5rem;
	font-weight: 300;
	margin-top: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: #111827;
	padding: 1rem;
	margin-bottom: 1rem; 
	
	
}


.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	text-align: center;
}


.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
}



.task .actions .edit {
    color: red;	
}

.task .actions .delete {
	color: red;
}